body {
  font-family: 'Fira Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration:none;
  color: black;
}

a:link {
    color: black;
}

/* visited link */
a:hover {
    color: blue;
}

.search-input {
  width: 400px !important;
}

.search-form {
  margin-top: 20px;
}

.logentoo-header {
  z-index: 100;
  min-height: 55px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid rgb(221, 221, 221);
  background-color: white;
  font-size: 20px;
}

.logentoo-logo {
  margin-left: 30px;
  max-height: 35px;
  margin-right: 5px;
  vertical-align: middle;
  border-radius: 5px;
  margin-top: 10px;
}

.app-container {
  margin-top: 56px;
}

.side-bar {
  float: left;
  padding-top: 35px;
  padding-left: 10px;
  width: 310px;
}

.search-card {
  margin-bottom: 20px;
  border: 2px solid #eeeeee;
  background-color: #fafafa;
  padding: 1px;
  position: relative;
}

.card-label {
  background-color: white;
  font-weight: 500;
  padding: 15px;
  font-size: 15px;
  color: rgb(51, 51, 51);
  border-bottom: 1px solid #eeeeee;
}

.search-card-input {
  padding: 9px;
  width: 73%;
  margin: 4%;
  padding-left: 35px;
  border: none;
  font-family: 'Fira Sans', sans-serif;;
  height: 25px;
  font-size: 15px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
   0 3px 1px -2px rgba(0, 0, 0, 0.2),
   0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.search-icon {
  position: absolute;
  top: 25px;
  left: 25px;
  color: #252323;
  font-size: 16px;
}

.checkbox-card-container {
  margin-left: 20px;
  margin-top: 10px;
  font-family: 'Fira Sans', sans-serif;;
  font-size: 15px;
}

.linear .control--checkbox{
  display: inline-block !important;
  margin-right: 20px;
  padding-left: 22px !important;
}

.search-result {
  margin-left: 27%;
  width: 50%;
  padding-top: 33px;
  position: relative;
}

.resultat-header {
  width: 100%;
  font-size: 15px;
  border-bottom: 1px solid red;
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;;
  padding-bottom: 10px;
  text-transform: capitalize;
}

.right-header {
  color: red;
  float: right;
}

.right-header i {
  margin-left: 10px;
}

.rent-item-container {
  display: block;
  margin-top: 20px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 35px;
}

.rent-item-title {
  font-weight: 400
  color: rgb(51, 51, 51);
}

.rent-item-title:hover {
  color: #888;
}

.rent-price {
  color: rgb(245, 61, 61);
  font-size: 22px;
  font-weight: bold;
  margin-left: 6px;
}

.rent-price i {
  margin-left: 5px;
}

.rent-tags-container {
  background-color: rgb(250, 250, 250);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(238, 238, 238);
  border-image: initial;
  min-height: 78px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.rent-tags-container img {
  max-height: 80px;
  max-width: 160px;
  position: absolute;
  top: 10px;
  right: 7px;
}

.rent-tag {
  font-weight: 500;
  color: rgb(51, 51, 51);
  margin-right: 0px;
  background: rgb(242, 242, 242);
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(238, 238, 238);
  border-image: initial;
  margin: 9px 8px 9px 0px;
  padding: 5px;
  font-size: 14px;
  display: inline-block;
}

.rent-tag i{
  font-size: 15px;
  margin-right: 5px;
}

.rent-location-tag {
  background-color: rgb(224, 222, 222);
  cursor: pointer;
}

.rent-tag:hover{
  cursor: pointer;
  background-color: rgb(245, 61, 61);
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.search-input-wrapper {
  margin-bottom: -10px;
  position: relative;
}

.red-tag {
  margin-right: -7px;
  margin-top: 9px;
  margin-left: 11px;
  margin-bottom: -5px;
  background-color: rgb(245, 61, 61);
  color: white;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.remove-city {
  margin-left: 10px;
  font-weight: lighter;
}

.auto-complete-list-item {
  padding: 10px;
  border-bottom: 1px solid #9c9c9c;
  padding-left: 15px;
  font-weight: bold;
  background-color: #d8d8d8;
  cursor: pointer;
}

.auto-complete-list-item:hover {
  background-color: #c3c3c3;
}
/* --------------------- -------------------- */
.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  line-height: 1.5;
  font-size: 15px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator {
  background: #da3838;
}
.control input:checked ~ .control__indicator {
  background: #f53d3d;
}
.control:hover input:not([disabled]):checked ~ .control__indicator {
  background: #da3838;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

select {
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  padding: 9px;
  padding-right: 25px;
  width: auto;
  margin-right: -33px;
  margin-left: -5px;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  color: red;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  outline: 0;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
  text-overflow: '';
  -moz-appearance: none;
  text-indent: 0.01px;
}

select::-ms-expand {
    display: none;
}

#blue {
  background-color:#b4b4b4;
}

select:focus, select:active {
  border:0;
  outline:0;
}

option:focus
{
  background: pink;
}

.source-tag-1, .source-tag-2, .source-tag-0 {
  float: right;
  margin-top: -12px;
  margin-right: 0;
  position: absolute;
  right: 0px;
  border: none;
  opacity: 0.6;
  z-index: 2;
}

.source-tag-1 {
  background-color: #1992cd;
  color: white;
}

.source-tag-2 {
  background-color: #e00034;
  color: white;
}

.source-tag-0 {
  background-color: #f56b2a;
  color: white;
}

.hero-wallpaper{
  position: fixed;
  bottom: 0px;
  z-index: -2;
  max-width: 100%;
  border: 0;
}

.hero-cover {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.45;
  z-index: -2;
}

.hero-header {
  position: absolute;
  width: 100%;
  display: block;
  height: 55px;
  background-color: #ffa300;
  z-index: 9;
  top: 0px;
  left: 0px;
  opacity: 0.6;
}

.hero-header span{
  color: black;
  font-weight: bold;
  position: absolute;
  top: 30px;
  font-size: 20px;
  margin-left: 0px;
}

.logentoo-hero-logo {
  margin-left: 17px;
  max-height: 50px;
  margin-right: 5px;
  vertical-align: middle;
  border-radius: 5px;
  margin-top: 5px;
}

.hero-title {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  width: 100%;
  margin-top: 10%;
}

.center-form {
  width: 40%;
  margin-left: 30%;
  padding: 0px;
  background-color: #f5f5f5;
  height: 90px;
  margin-top: 20px;
  border-radius: 4px;
  text-align: left;
  position: relative;
}

.center-form .search-card-input{
  margin-top: 12px;
  margin-left: 16px;
  max-width: 300px;
  border-radius: 2px;
}

.hero-budget {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 130px;
  padding-left: 10px;
}

.center-form .red-tag {
  background-color: rgb(205, 149, 49);
}

.center-form .default-rent-tag {
  position: absolute;
  top: 12px;
  left: 251px;
}

.hero-btn {
  position: absolute;
  right: -5px;
  bottom: -5px;
  font-size: 15px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(245, 61, 61) !important;
}

.autocomplete-list {
  position: absolute;
  width: 87%;
  z-index: 2;
  margin-left: 12px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.center-form .autocomplete-list {
  max-width: 350px;
}

.fa.fa-bars.mobile-menu {
  display: none !important;
}

.hero-footer {
  bottom: 20px;
  text-align: center;
  font-size: 20px;
  /* font-weight: bold; */
  color: black;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  z-index: -1;
}

.hero-footer i {
  margin-right: 10px;
  color: white;
}

.hero-footer a {
  color: blue;
  font-weight: bolder;
}

.hero-footer a:hover {
  text-decoration: underline;
}

.cofee-footer {
  color: #e10b1b;
  margin-right: 4px;
}

@media (max-width: 500px) {
  .side-bar {
    /* display: none; */
    float: none;
    width: 95%;
  }

  .search-result {
    margin-left: 1%;
    width: 95%;
    padding-top: 33px;
    position: relative;
  }

  .rent-item-container {
    border-bottom: 1px solid #d8cfcf;
  }

  .rent-item-title{
    margin-left: 1%;
  }

  .fa.fa-bars.mobile-menu {
    display: none;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
  }

  .app-container {
    margin-top: 30px;
  }

  .left-header {
    margin-left: 1%;
  }

  .hero-wallpaper{
    position: fixed;
    bottom: 0px;
    z-index: -2;
    max-width: none;
    max-height: 100%;
    border: 0;
  }

  .center-form {
    width: 90%;
    margin-left: 5%;
  }

  .hero-budget {
    position: absolute;
    top: 48px;
    right: auto;
    width: 170px;
    padding-left: 10px;
  }
}
