body {
  font-family: 'Fira Sans', sans-serif;
}

.search-input {
  width: 400px !important;
}

.search-form {
  margin-top: 20px;
}

.logentoo-header {
  z-index: 100;
  min-height: 55px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid rgb(221, 221, 221);
  background-color: white;
  font-size: 20px;
}

.logentoo-logo {
  margin-left: 30px;
  max-height: 35px;
  margin-right: 5px;
  vertical-align: middle;
  border-radius: 5px;
  margin-top: 10px;
}

.app-container {
  margin-top: 56px;
}

.side-bar {
  float: left;
  padding-top: 35px;
  padding-left: 10px;
  width: 310px;
}

.search-card {
  margin-bottom: 20px;
  border: 2px solid #eeeeee;
  background-color: #fafafa;
  padding: 1px;
  position: relative;
}

.card-label {
  background-color: white;
  font-weight: bolder;
  padding: 15px;
  font-size: 15px;
  border-bottom: 1px solid #eeeeee;
}

.search-card-input {
  padding: 9px;
  width: 73%;
  margin: 4%;
  padding-left: 35px;
  border: none;
  font-family: 'Fira Sans', sans-serif;;
  height: 25px;
  font-size: 15px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
   0 3px 1px -2px rgba(0, 0, 0, 0.2),
   0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.search-icon {
  position: absolute;
  top: 25px;
  left: 25px;
  color: #252323;
  font-size: 16px;
}

.checkbox-card-container {
  margin-left: 20px;
  margin-top: 10px;
  font-family: 'Fira Sans', sans-serif;;
  font-size: 15px;
}

.inline-checkbox {
  display: inline-block !important;
  margin-right: 20px;
  padding-left: 22px !important;
}

.search-result {
  margin-left: 27%;
  width: 50%;
  padding-top: 33px;
  position: relative;
}

.resultat-header {
  width: 100%;
  font-size: 15px;
  border-bottom: 1px solid red;
  font-weight: bolder;
  font-family: 'Fira Sans', sans-serif;;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.right-header {
  color: red;
  float: right;
}

.right-header i {
  margin-left: 10px;
}

.rent-item-container {
  display: block;
  margin-top: 20px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 35px;
}

.rent-item-title {
  font-weight: bolder;
}

.rent-price {
  color: rgb(245, 61, 61);
  font-size: 22px;
  font-weight: bold;
  margin-left: 6px;
}

.rent-price i {
  margin-left: 5px;
}

.rent-tags-container {
  background-color: rgb(250, 250, 250);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(238, 238, 238);
  border-image: initial;
  min-height: 78px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.rent-tags-container img {
  max-height: 80px;
  position: absolute;
  top: 10px;
  right: 7px;
}

.rent-tag {
  font-weight: bolder;
  color: rgb(51, 51, 51);
  margin-right: 0px;
  background: rgb(242, 242, 242);
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(238, 238, 238);
  border-image: initial;
  margin: 9px 8px 9px 0px;
  padding: 5px;
  font-size: 14px;
  display: inline-block;
}

.rent-tag i{
  font-size: 15px;
  margin-right: 5px;
}

.rent-location-tag {
  background-color: rgb(224, 222, 222);
  cursor: pointer;
}

.rent-tag:hover{
  cursor: pointer;
  background-color: rgb(245, 61, 61);
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.search-input-wrapper {
  margin-bottom: -10px;
  position: relative;
}

.red-tag {
  margin-right: -7px;
  margin-top: 9px;
  margin-left: 11px;
  margin-bottom: -5px;
  background-color: rgb(245, 61, 61);
  color: white;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.remove-city {
  margin-left: 10px;
  font-weight: lighter;
}

.auto-complete-list-item {
  margin-left: 12px;
  margin-right: 9%;
  padding: 10px;
  border-bottom: 1px solid #9c9c9c;
  padding-left: 15px;
  font-weight: bold;
  background-color: #d8d8d8;
  cursor: pointer;
}

.auto-complete-list-item:hover {
  background-color: #c3c3c3;
}
/* --------------------- -------------------- */
.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  line-height: 1.5;
  font-size: 15px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator {
  background: #da3838;
}
.control input:checked ~ .control__indicator {
  background: #f53d3d;
}
.control:hover input:not([disabled]):checked ~ .control__indicator {
  background: #da3838;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}
